{% extends 'main/layout.html' %}


<!--{% block url1 %}"{% url 'course_material_home' homework.course.id %}"{% endblock %}-->
<!--{% block bottom1 %}"bi bi-journal-bookmark-fill"{% endblock %}-->
<!--{% block name1 %}Материалы курса{% endblock %}-->

<!--{% block url2 %}"{% url 'course_homework_home' homework.course.id %}"{% endblock %}-->
<!--{% block bottom2 %}"bi bi-list-task"{% endblock %}-->
<!--{% block name2 %}Домашние задания курса{% endblock %}-->

<!--{% block url3 %}"{% url 'courses-detail' homework.course.id %}"{% endblock %}-->
<!--{% block bottom3 %}"bi bi-arrow-left-circle-fill"{% endblock %}-->
<!--{% block name3 %}Вернуться к курсу{% endblock %}-->

{% block title %}Добавление заданий к курсу {{ homework.course.title }}{% endblock %}



{% block content %}
<div class="add_update_delete">
     <form method="post">
         <h5> Задания по курсу:</h5>
         <h6> {{ homework.course.title }}</h6>

         </br>
         {% csrf_token %}
         {{ form }}<br>
         <button class="btn btn-success" type="submit">Загрузить условие домашнего задания</button>

        </form>
</div>

{% endblock %}